@font-face {
  font-family: "Source Sans Pro Black";
  src: url("../fonts/SourceSansPro-Black.otf");
}
@font-face {
  font-family: "Source Sans Pro Light";
  src: url("../fonts/SourceSansPro-Light.otf");
}

@font-face {
  font-family: "Source Sans Pro Regular";
  src: url("../fonts/SourceSansPro-Regular.otf");
}

@font-face {
  font-family: "Source Sans Pro Italic";
  src: url("../fonts/SourceSansPro-It.otf");
}

body {
  margin: 0 auto;
  padding: 0 0 0 0;
  background-image: url("../images/background.png");
}

button {
  cursor: pointer;
}

button:hover {
  background-color: rgba(157, 157, 157, 0.9);
}

.page-content {
  display: flex;
  width: 75%;
  padding-top: 105px;
  margin: 0 auto;
  flex-flow: column;
  flex-basis: 1230px;
}

.header {
  display: flex;
  justify-content: center;
  background-color: white;
  padding-top: 43px;
}

.burger-button {
  visibility: hidden;
  z-index: 30;
  padding-right: 10px;
  position: sticky;
  top: 0;
  opacity: 0.4;
  margin-bottom: -62px;
  align-self: flex-end;
  height: fit-content;
  width: fit-content;
  background-color: transparent;
  border: none;
}

.burger-button-image {
  height: 50px;
  width: 50px;
}

.title {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-flow: column;
  flex-basis: auto;
  font-family: "Source Sans Pro", serif;
  color: rgb(113, 106, 114);
  letter-spacing: 8px;
  margin-bottom: 35px;
}

.title__text {
  align-self: center;
  font-size: 50px;
  text-transform: uppercase;
  margin: auto;
  padding-left: 10px;
}

.title__line {
  padding-top: 17px;
}

.menu {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 20;
}

.menu__body {
  display: flex;
  width: 60%;
  justify-content: space-between;
}

.menu__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 0;
  height: 40px;
  color: rgb(113, 106, 114);
}

.menu__item__active {
  color: rgb(241, 196, 15);
}

.menu__item__button {
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1.2;
  font-size: 15px;
  font-family: "Source Sans Pro Light", serif;
}

.slider {
  background-color: white;
  padding-top: 48px;
}

.slider__body {
  display: flex;
  flex-flow: column;
}

.slider__image-body{
  display: flex;
}

.slider__image {
  width: 100%;
}

.slider__control-body {
  align-self: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 122px;
  margin-top: -122px;
  background-color: rgba(0, 0, 0, 0.451);
  z-index: 10;
}

.slider__button {
  width: 95px;
  background-color: transparent;
  border: none;
}

.slider__infotext {
  display: flex;
  flex-flow: column;
}

.slider__headline {
  font-size: 34px;
  font-family: "Source Sans Pro Black", serif;
  letter-spacing: 3px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  margin: 0 0 0 0;
  padding-top: 30px;
  align-self: center;
}

.slider__subheadline {
  text-align: center;
  align-self: center;
  margin: -7px 0 0;
  font-size: 18px;
  font-family: "Source Sans Pro Light", serif;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
}

.row1 {
  display: flex;
  justify-content: center;
  background-color: white;
}

.row1__body {
  display: flex;
  align-items: center;
  align-self: center;
  padding-top: 70px;
  padding-bottom: 80px;
  width: 76.42%;
}

.row1__block1 {
  width: 47.87%;
  align-self: flex-start;
}

.block1 {
  text-align: right;
}

.block1__headline {
  margin: 0 0 0 0;
  font-size: 30px;
  letter-spacing: 1px;
  font-family: "Source Sans Pro Black", serif;
  color: rgb(241, 196, 15);
  text-transform: uppercase;
}

.block1__subheadline {
  font-size: 24px;
  font-family: "Source Sans Pro Light", serif;
  color: rgb(157, 157, 157);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -5px 0 0;
}

.block1__button {
  height: 42px;
  width: 130px;
  margin: 30px 0 0;
  border-color: transparent;
  border-radius: 5px;
  background-color: rgb(241, 196, 15);
  font-size: 20px;
  font-family: "Source Sans Pro Black", serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.row1__block2 {
  width: 52.127%;
  padding-left: 30px;
  align-self: flex-start;
}

.block2__headline {
  margin: 0 0 0 0;
  padding-top: 2px;
  letter-spacing: 1px;
  font-size: 19px;
  font-style: italic;
  font-family: "Source Sans Pro Regular", serif;
  color: rgb(113, 106, 114);
  text-decoration: underline;
  text-align: left;
}

.block2__description {
  padding-top: 28px;
  font-family: "Source Sans Pro Regular", serif;
  color: rgb(157, 157, 157);
  font-size: 13px;
  text-align: left;
  letter-spacing: 1px;
  line-height: 1.7;
}

.row2 {
  background-color: rgb(250, 250, 250);
  display: flex;
  box-shadow: 0px 1px 4px 0px rgba(82, 84, 77, 0.16);
  width: 100%;
  justify-content: center;
}

.row2__body {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 80px;
  width: 95%;
}

.row2__item {
  width: 31.49%;
  display: flex;
}

.row2-item__circle-image {
  padding-top: 7px;
  height: 73px;
  width: 73px;
}

.row2-item__textinfo {
  padding-left: 25px;
  display: flex;
  flex-flow: column;
  width: 80%;
}

.row2-item__headline {
  display: flex;
  font-size: 24px;
  font-family: "Source Sans Pro Black", serif;
  color: rgb(113, 106, 114);
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 1px;
  width: 100%;
}

.row2-item__line {
  padding-top: 20px;
  width: 100%;
}

.row2-item__description {
  padding-top: 30px;
  width: 100%;
  display: flex;
  font-size: 15px;
  font-family: "Source Sans Pro Regular", serif;
  color: rgb(157, 157, 157);
  line-height: 1.5;
}

.row2__item-button {
  margin-top: 28px;
  border-radius: 5px;
  border-color: transparent;
  height: 27px;
  width: 70px;
  text-align: center;
  letter-spacing: 2px;
  background-color: rgb(241, 196, 15);
  font-size: 16px;
  font-family: "Source Sans Pro Black", serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.row3 {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(241, 196, 15);
}

.row3__headline {
  padding-top: 50px;
  margin: 0 0 0 0;
  text-align: center;
  font-size: 30px;
  font-family: "Source Sans Pro Black", serif;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.row3__subheadline {
  text-align: center;
  margin: 0 0 0 0;
  font-size: 24px;
  font-family: "Source Sans Pro Light", serif;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.row3__input-form {
  padding-top: 20px;
  padding-bottom: 77px;
  display: flex;
}

.input-form__input {
  margin: 0 0 0 0;
  padding-left: 20px;
  height: 35px;
  width: 230px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 219, 76);
  background-color: rgb(241, 196, 15);
  font-size: 15px;
  font-family: "Source Sans Pro Italic", serif;
  color: rgb(255, 255, 255);
  font-style: italic;
  line-height: 1.6;
}

.input-form__button {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-size: 16px;
  font-family: "Source Sans Pro Black", serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  background-color: rgb(255, 219, 76);
  width: 108px;
  height: 40px;
  border: none;
}

.row4 {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: rgb(250, 250, 250);
  padding-bottom: 62px;
}

.row4__tab {
  display: flex;
  flex-flow: column;
  padding-top: 60px;
  width: 95%;
}

.tab__buttons-container {
  margin: 0 0 0 0;
  display: flex;
  justify-content: space-between;
  width: 71%;
}

.tab__button {
  margin: 0 0 0 0;
  width: 96.428%;
  height: 60px;
  letter-spacing: 2px;
  font-size: 18px;
  font-family: "Source Sans Pro Black", serif;
  color: rgb(241, 196, 15);
  text-transform: uppercase;
  line-height: 1.2;
  background-color: rgba(157, 157, 157, 0.7);
  border: none;
}

.tab__button-activated {
  background-color: white;
}

.tab__button-text {
  margin: 0 0 0 0;
  width: 32.53%;
}

.tabs__content-container {
  background-color: white;
  display: flex;
  padding-top: 10px;
  width: 100%;
  align-self: center;
  justify-content: space-between;
  margin: 0 0 0 0;
}

.tab__content {
  padding: 20px 30px 13px;
  width: 44.5%;
}

.tab__image {
  width: 90%;
}

.tab__description {
  font-size: 15px;
  font-family: "Source Sans Pro Regular", serif;
  color: rgb(157, 157, 157);
  line-height: 1.6;
  text-align: left;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(51, 51, 51);
}

.footer__body {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  width: 95%;
  padding-bottom: 55px;
}

.blog-posts-section {
  width: 29%;
}

.blog-posts-section__headline {
  margin-bottom: 0;
  font-size: 24px;
  font-family: "Source Sans Pro Black", serif;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
}

.blog-posts-section__line {
  margin-top: 25px;
  width: 100%;
}

.blog-post {
  display: flex;
  justify-content: space-between;
}

.blog-post__image {
  align-self: flex-start;
  padding-top: 20px;
}

.blog-post__info {
  width: 68%;
}

.blog-post__blog-name {
  margin: 0 0 0 0;
  width: 100%;
  font-size: 15px;
  font-family: "Source Sans Pro Black", serif;
  color: rgb(157, 157, 157);
  text-decoration: underline;
  line-height: 1.2;
}

.blog-post__date {
  margin: 0 0 0 0;
  padding-top: 22px;
  width: 100%;
  font-size: 12px;
  font-family: "Source Sans Pro Regular", serif;
  color: rgb(241, 196, 15);
  line-height: 1.2;
}

.blog-post__text {
  margin: 0 0 0 0;
  padding-top: 10px;
  width: 100%;
  font-size: 15px;
  font-family: "Source Sans Pro Regular", serif;
  color: rgb(157, 157, 157);
  line-height: 1.2;
}

.twitter-posts-section {
  padding-left: 30px;
  display: flex;
  flex-flow: column;
  width: 29%;
}

.twitter-posts-section__headline {
  margin-bottom: 0;
  font-size: 24px;
  font-family: "Source Sans Pro Black", serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
}

.twitter-posts-section__line {
  margin-top: 25px;
  width: 100%;
}

.twitter-post {
  display: flex;
  padding-top: 30px;
}

.twitter-post__image {
  align-self: flex-start;
}

.twitter-post__info {
  display: flex;
  flex-flow: column;
  padding-left: 20px;
}

.twitter-post__username {
  margin: 0 0 0 0;
  font-size: 15px;
  font-family: "Source Sans Pro Black", serif;
  color: rgb(241, 196, 15);
  line-height: 1.2;
}

.twitter-post__text {
  margin: 0 0 0 0;
  font-size: 15px;
  font-family: "Source Sans Pro Regular", serif;
  color: rgb(157, 157, 157);
  line-height: 1.2;
}

.quick-contacts-section {
  padding-left: 30px;
  display: flex;
  flex-flow: column;
  width: 42%;
}

.quick-contacts-section__headline {
  margin-bottom: 0;
  font-size: 24px;
  font-family: "Source Sans Pro Black", serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
}

.quick-contacts-section__line {
  margin-top: 25px;
  width: 100%;
}

.quick-contacts-section__image {
  margin-top: 25px;
}

.quick-contacts-section__address-word {
  margin: 0 0 0 0;
  padding-top: 25px;
  font-size: 15px;
  font-family: "Source Sans Pro Black", serif;
  color: rgb(157, 157, 157);
  line-height: 1.2;
  text-align: left;
}

.quick-contacts-section__address-text {
  margin: 0 0 0 0;
  font-family: "Source Sans Pro Regular", serif;
  color: rgb(157, 157, 157);
  line-height: 1.2;
  text-align: left;
}

.quick-contacts-section__contacts {
  font-family: "Source Sans Pro Regular", serif;
  color: rgb(241, 196, 15);
  line-height: 1.2;
  text-align: left;
}

.copyrights {
  display: flex;
  height: 90px;
  background-color: rgb(241, 196, 15);
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-family: "Source Sans Pro Black", serif;
  line-height: 1.733;
}

.copyrights__designed-by {
  color: rgb(51, 51, 51);
}

.copyrights__text {
  text-align: center;
  color: rgb(255, 255, 255);
}

@media (max-width: 1023px) {
  .menu__body {
    width: 95%;
  }

  .slider {
    position: relative;
  }

  .slider__control-body {
    margin-top: 48px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    height: inherit;
  }

  .slider__button {
    padding: 0 0 0 0;
  }

  .slider__infotext {
    justify-content: center;
    padding: 0 0 0 0;
  }

  .slider__headline {
    text-align: center;
    padding-top: 0;
  }

  .row1__body {
    flex-flow: column;
    justify-content: center;
  }

  .row1__block1 {
    width: 100%;
    padding-bottom: 0;
  }

  .block1 {
    text-align: center;
  }

  .row1__block2 {
    width: 100%;
    padding-bottom: 0;
  }

  .block2 {
    padding-left: 0;
    padding-top: 20px;
    text-align: center;
  }

  .block2__headline {
    text-align: center;
  }

  .block2__description {
    text-align: center;
  }

  .row2__body {
    padding-top: 0;
    flex-flow: column;
    justify-content: center;
    width: 70%;
  }

  .row2-item {
    padding-top: 30px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
  }

  .row2-item__circle-image {
    align-self: center;
    padding: 0 0 0 0;
  }

  .row2-item__textinfo {
    width: 70%;
    align-items: center;
    padding-left: 0;
  }

  .row2-item__headline {
    width: auto;
  }

  .row2-item__description {
    text-align: center;
  }

  .footer__body {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .blog-posts-section {
    width: 70%;
  }

  .blog-posts-section__headline {
    text-align: center;
  }

  .twitter-posts-section {
    width: 70%;
    padding: 0 0 0 0;
  }

  .quick-contacts-section {
    width: 70%;
    padding: 0 0 0 0;
  }
}

@media (max-width: 767px) {
  .page-content {
    width: 100%;
    padding-top: 0;
  }

  .slider {
    padding-top: 0;
  }

  .slider__control-body {
    margin-top: 0;
  }

  .slider__headline {
    font-size: 30px;
  }

  .slider__subheadline {
    padding-top: 20px;
    font-size: 20px;
  }

  .block1__subheadline {
    padding-top: 20px;
  }

  .row2__body {
    width: 95%;
  }

  .row2-item__headline {
    text-align: center;
  }

  .input-form {
    justify-content: center;
    width: 95%;
  }

  .tabs__content-container {
    flex-flow: column;
  }

  .tab__content {
    align-self: center;
    padding-left: 0;
    padding-right: 0;
    width: 95%;
  }

  .blog-posts-section {
    width: 95%;
  }

  .twitter-posts-section {
    width: 95%;
  }

  .quick-contacts-section {
    width: 95%;
  }

  .copyrights__text {
    font-size: 13px;
  }

  .burger-button {
    visibility: visible;
  }

  .menu {
    visibility: hidden;
    position: fixed;
    top: 6px;
    right: 5px;
    width: fit-content;
    background-color: rgba(157, 157, 157, 0.5);
    border-radius: 5px;
  }

  .menu__body {
    flex-flow: column;
    height: 300px;
  }

  .menu__item__button {
    font-size: 30px;
  }

  .tab__buttons-container {
    width: 100%;
    justify-content: space-between;
  }

  .tab__button {
    padding: 0 0 0 0;
    width: 100%;
  }
}
